{% capture content %}
    {% for publication_section in include.section.publication_sections %}
    <h5>{{ publication_section.title }}</h5>

    <ul class="al-publication-list mt-3 mb-5">

        {% assign sorted_publications = site.publications | sort: 'date' | reverse %}

        {% for publication in sorted_publications %}
            {% if publication_section.type == publication.section %}
                <li class="al-publication-list-item">{{ publication | bibliography }}</li>
        {% endif %}
    {% endfor %}

    </ul>

{% endfor %}


{% endcapture %}


{% include section.html section=section content=content %}