---
---


body {
  min-height: 75rem;
  padding-top: 3.5rem;
}

.navbar-mod {
  background-color: {{ site.header_background_color }};
  /*height: 3.61rem;*/
  line-height: 1.5rem;
}


.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}