---
---

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap');

:root {
    --color-section-header: {{ site.section_header_background_color }};
    --color-header: {{ site.header_background_color }};
    --text-color-section-header: {{ site.header_background_color }};
    --main-font: 'Roboto', sans-serif;
    --subheader-font-weight: 500;
    --subheader-font-style: medium;
}

html {

    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font);
    font-weight: 400;
    line-height: 2rem;
    overscroll-behavior-y: none;

}

a {
    color: var(--color-section-header); /* Blue */
    text-decoration: none; /* Optional: removes underline */
    font-weight: 500;
}

.lead {
    font-weight: 300 !important;
}

.bg-section-header {
    background-color: var(--color-section-header);
}

.bg-header {
    background-color: var(--color-header);
}

.text-header {
    color: var(--color-header);
}

.text-section-header {
    color: var(--color-section-header);
}

.cover {
    object-fit: cover;
    width: 100%;
}

.vh-100-mod {
    min-height: calc(100vh - 3rem);
}


#home {
    background-color: var(--color-header);
    color: white;
    padding: 1rem;

}

#home-info {
    color: #4b4b4b;
}

.al-subheader {
    margin-top: 0rem;
    margin-bottom: 0.75rem;
    background-color: var(--color-section-header);
    color: var(--text-color-section-header);
}

.al-subheading {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    font-weight: var(--subheader-font-weight);
    font-style: var(--subheader-font-style);
    font-size: 1.3rem;
}

.al-container-subheader {
    /*padding-left: 0;*/
}

section {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

section::before {
    content: "";
    display: block;
    height: 3.4rem; /* Your sticky header's height */
    margin-top: -3.4rem; /* Negative value of your sticky header's height */
    visibility: hidden;
    pointer-events: none;
}

.scroll-down-arrow {
    position: absolute;
    bottom: 1rem;
    left: 50%; /* This moves the left edge of the element to the center of the parent */
    transform: translateX(-50%); /* This moves the element leftwards by half of its own width */

    font-size: 2.5rem;
    text-align: center;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

#navbar-title {
    font-size: 1.3rem;
    font-weight: 700;
}

.al-nav-item {
    font-weight: 700;
}

.circular--portrait {
    position: relative;
    width: 30vw; /* Adjust as needed */
    height: 30vw; /* Adjust as needed */
    max-width: 400px; /* Adjust as needed */
    max-height: 400px; /* Adjust as needed */
    overflow: hidden;
    border-radius: 50%;
    border: 2.5vw solid var(--color-section-header); /* Change the color and width as per your preference */

}

.circular--portrait img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.al-publication-list {
    list-style-type: none;
    padding-left: 0;
    margin-left: 1rem;
}

.al-publication-list-item {
    margin-bottom: 1rem;
    line-height: 1.5rem;
}